* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(14px + .5vw);
    box-sizing: border-box;
    background-color: rgb(250,250,250);
    color: #333;
}


/* Header */

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 1em;
    padding: .8em 0;
    background-color: #fff;
}
.header-left {
    display: grid;
    grid-template-columns: 4em 1fr;
    justify-self: start;
}
.header-center {
    justify-self: center;
}
.header-right {
    margin-right: 1em;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5em;
}
header button {
    background: none;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
}

/* Header Left */
header .hamburger-menu {
    padding: 0 1em;
}
header .brand h1 {
    font-size: 1.4em;
    color: rgb(76,147,255);
    font-family:'Belanosima', sans-serif;
    cursor: pointer;
}

/* Header Center */
header .search-container {
    border: 1px solid #ddd;
    border-radius: 24px;
    height: fit-content;
    width: fit-content;
    padding: .5em;
    transition: .5s;
}
.search-container > * {
    margin: 0 6px;
    display: inline;
}
header .search-input {
    outline-color: rgb(186, 255, 144);
    width: calc(51vw - 16em);
    max-width: 400px;
    border: none;
    outline: none;
    font-size: .8em;
}

/* Header Right */
header .app-download {
    display: flex;
    background-color: rgb(76,147,255);
    color: #fff;
    font-size: .8em;
    padding: .6em 1em;
    border-radius: 6px;
}
header .app-download p {
    margin-left: 4px;
}

header .login {
    color: #fff;
    background-color: #ddd;
    padding: .1em .5em .0 .5em;
    border: 1px solid #aaa;
    border-radius: 100%;
    font-size: 1em;
}

/* Aside and Footer */
aside {
    position: fixed;
    width: calc(340px + 1vw);
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr calc(320px + .5vw);
    gap: 4px;
}
aside > * {
    background-color: #fff;
    max-width: calc(340px + 1vw)x;
}

/* Nav */
aside .nav {
    transition: .5s;
}
aside .nav li {
    list-style: none;
}
aside .nav li a {
    font-size: .9em;
    justify-self: start;
    display: block;
    padding: .6em 3.8em;
    color: #333;
    text-decoration: none;
}
aside .nav li a:focus {
    background-color: rgb(238,244,255);;
}
aside .nav li a:hover {
    background-color: rgb(249, 250, 255);
}
aside .nav li a i {
    position: absolute;
    left: 1.5em;
}

/* Login Suggest */
aside .login-suggestion {
    padding: 1em;
    transition: .5s;
}
aside .login-suggestion p {
    font-size: .9em;
    color: #aaa;
}
aside .login-suggestion button {
    margin-top: 24px;
    background-color: transparent;
    border: 1px solid rgb(76,147,255);
    text-align: center;
    display: block;
    width: 100%;
    padding: .5em;
    color: rgb(76,147,255);
    cursor: pointer;
    font-size: 1em;
}
aside .login-suggestion button:hover {
    background-color: rgb(238,244,255)
}

/* Footer */
aside footer {
    font-size: calc(1.2em - .5vw);
    padding: 14px 0 0 14px;
    color: #aaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: .5s;
}
aside footer a {
    color: #aaa;
    text-decoration: none;
    margin: 6px 12px;
    display: inline-block;
}
aside footer a:hover {
    color: rgb(76,147,255)git;
}
aside footer .footer-menu {
    width: 80%;
    height: 50%;
}
aside footer .copyright {
    margin: 0 0 0 12px;
    height: 50%;
}


/* Hamburger menu Classlist */
aside.active {
    display: flex;
    width: 5.2em;
    height: 100%;
    background-color: #fff;
    transition: .5s;
}
aside .nav-collapse.active {
    transform: translateX(0);
}
aside .nav-collapse {
    justify-content: start;
    order: -1;
    list-style: none;
    transform: translateX(-100vw);
    position: fixed;
    transition: .5s;
}
aside .nav-collapse li a {
    display: block;
    padding: 1.2em 1em;
    text-align: center;
    color: #333;
    text-decoration: none;
}
aside .nav-collapse li a:hover {
    background-color: rgb(249, 250, 255);
}
aside .nav-collapse li a i {
    display: block;
    position: static;
    font-size: 1.2em;
    margin-bottom: 6px;
}
aside .nav-collapse li a span {
    display: block;
    text-align: center;
    font-size: .8em;
}
aside .nav.active, aside .login-suggestion.active, aside footer.active {
    transform: translateX(-100vw);
    transition: .5s;
}

/* Responsive Breakpoints */
@media (max-width: 744px) {
    header .search-container {
        border: none;
    }
    header .search-input, header .search-container p {
        display: none;
    }
    header .header-center {
        place-self: end;
    }
}